:root {
    --verdeoscuro: #658864;
    --verde: #B7B78A;
    --grisoscuro: #DDDDDD;
    --gris: #EEEEEE;

    --fuente: 'Staatliches', cursive;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: var(--verdeoscuro);
    font-size: 16px;
    line-height: 1.5;
}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    text-align: center;
    color: black;
    font-family: var(--fuente);
}

h1 { font-size: 40px; }

h2 { font-size: 32px; }

h3 { font-size: 24px; }

.header {
    display: flex;
    justify-content: center;
}

.header__logo {
    margin: 30px 0;
}

.menu {
    background-color: var(--verde);
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.menu__enlace {
    font-family: var(--fuente);
    color: var(--gris);
    font-size: 30px;
}

.menu__enlace--activo, .menu__enlace:hover {
    color: black;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.nosotros-info {
    color: var(--gris);
    text-align: justify;
}

.nosotros-img {
    grid-row: 1 / 2;
    width: 100%;
}


.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bloque {
    text-align: center;
    padding: 20px;
}

.bloque-titulo {
    margin: 0;
}

.bloque-img {
    width: 100%;
}

@media (min-width: 768px) {
    .bloques {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .nosotros {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .nosotros-img {
        grid-column: 2 / 3;
    }
}


.footer {
    color: var(--grisoscuro);
    padding: 10px 0;
    margin-top: 20px;
}

.footer__info {
    text-align: center;
    font-family: var(--fuente);
    font-size: 22px;
    background-color: var(--verde);
}
